<div class="vg-page page-about" id="about">
    <!-- Profile -->
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6">
                <div class="img-place wow zoomIn">
                    <img src="assets/img/ava.jpg" alt="Photo Profile">
                </div>
            </div>
            <div class="col-md-6">
                <div class="caption wow fadeInRight">
                    <h2 class="fg-dark">{{name}}</h2>
                    <p class="fg-theme fw-medium">{{profession}}</p>
                    <p class="text-justify">At first front-end development was my hobby. Now I spend a lot of time
                        development. I like to practice and learn front-end development. I like developing with
                        JavaScript.
                    </p>
                    <p class="text-justify">At the moment I help my friend support his commercial web projects and
                        create my own an stack
                        NextJS + Strapi.
                        In the future I would like it to become my main job. My goal is to structure my own and gain new
                        knowledge for working in a web development company.</p>
                    <p class="text-justify"> <b>My strengths</b>: hard-working, goal-oriented, flexible, organized, a
                        team-player, responsible,
                        dependable, problem-solver.</p>
                    <ul class="theme-list">
                        <li class="fg-dark"><b>From: </b>{{placeBirth}}</li>
                        <li class="fg-dark"><b>Lives In: </b>{{location}}</li>
                        <li class="fg-dark"><b>Age: </b>{{age}}</li>
                        <li class="fg-dark"><b>Gender: </b>{{gender}}</li>
                    </ul>
                    <a href="https://kuzmich84.github.io/rsschool-cv/cv" class="btn btn-theme btn-rounded">See my CV</a>
                </div>
            </div>
        </div>
    </div> <!-- End profile -->
    <!-- Skills -->
    <div class="container mt-5">
        <h1 class="text-center fg-dark wow fadeInUp">My Skills</h1>
        <div class="row py-3">
            <div class="col-md-6">
                <h4 class="wow fadeInUp">Hard skills</h4>
                {{#each hardSkills }}
                <div class="progress-wrapper wow fadeInUp">
                    <span class="caption">{{name}}</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">86%</div>
                    </div>
                </div>

                {{/each }}
            </div>
            <div class="col-md-6">
                <h4 class="wow fadeInUp">Soft Skills</h4>
                {{#each softSkills}}
                <div class="progress-wrapper wow fadeInUp">
                    <span class="caption">{{name}}</span>
                 <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
                    </div>
                    </div>
                {{/each}}
                
            </div>
        </div>
    </div> <!-- End skills -->
    <!-- Resume -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 wow fadeInRight">
                <h2 class="fg-dark">Education</h2>
                <ul class="timeline mt-4 pr-md-5">
                    {{#each education}}
                            <li>
                        <div class="title">{{year}}</div>
                        <div class="details">
                            <h5>{{course}}</h5>
                            <small class="fg-theme">{{school}}</small>
                            {{#if certificate}}
                            <a href="{{certificate}}">Certificate</a>
                            {{/if}}
                      
                        </div>
                    </li>

                    {{/each}}
         
             </ul>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
                <h2 class="fg-dark">Experience</h2>
                <ul class="timeline mt-4 pr-md-5">
                    <li>
                        <div class="title">2021 - Current</div>
                        <div class="details">
                            <h5>Freelance</h5>
                           <br>
                         
                            <p>Create sites for myself and my friends</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- End resume -->
</div>