<div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="badge badge-subhead">Portfolio</div>
        </div>
        <h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
        <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
            <button class="btn btn-theme-outline selected" data-filter="*">All</button>
            <button class="btn btn-theme-outline" data-filter=".learning">Learning projects</button>
            <button class="btn btn-theme-outline" data-filter=".pet">Pet projects</button>
              <button class="btn btn-theme-outline" data-filter=".react">React</button>
        </div>

        <div class="gridder my-3">
            {{#each projects}}
            <div class="grid-item apps wow zoomIn {{type}}">
                <div class="img-place" data-src="{{image}}" data-fancybox
                    data-caption="<h5 class='fg-theme'>{{name}}</h5> <p>{{description}}</p><p>GitHub: <a href={{gitHub}}>{{name}}</a> </p>">
                    <img src="{{image}}" alt="{{name}}">
                    <div class="img-caption">
                        <h5 class="fg-theme">{{name}}</h5>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>

            {{/each}}
        </div> <!-- End gridder -->
        <div class="text-center wow fadeInUp">
            <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
        </div>
    </div>
</div>